<%= form_with model: author do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :Body %><br>
      <%= form.text_area :body %><br>
    </div>

    <div>
      <%= form.label :Date %><br>
      <%= form.date_field :date %><br>
    </div>

    <div>
      <%= form.label :Age %><br>
      <%= form.text_field :age %><br>
    </div>

    <div>
      <%= form.label :Last_Name %><br>
      <%= form.text_field :last_name %><br>
    </div>
    <div>
      <%= form.label :Email %><br>
      <%= form.text_field :email %><br>
    </div>
    <div>
      <%= form.label :Country %><br>
      <%= form.text_field :country %><br>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  