<%= form_with model:  [ @category, author ] do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>

    </div>

    <div>
      <%= form.label :date %><br>
      <%= form.date_field :date %><br>

    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  