<h1><%= @author.name %></h1>
<p><%= @author.last_name %></p>
<p><%= @author.body %></p>
<p><%= @author.age %></p>
<p><%= @author.email %></p>
<p><%= @author.country %></p>
<p>Birthday date: <%= @author.date.strftime("%d/%m/%Y") if @author.date.present? %></p>



<ul>
  <li><%= link_to "Edit", edit_category_author_path(@category, @author) %></li>
  <li><%= link_to "Destroy", category_author_path(@category, @author), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>


<h2>Book Details</h2>
<% @author.books.each do |book| %>
    <%= render "books/book", book: book %>
  <% end %>
  

<h2>Add a books:</h2>
<%= render "books/form", book: @author.books.new, author: @author, category: @category %> 