<h1 class="mb-4">Authors, Categories, and Books</h1>

<%= form_with(url: root_path, method: :get, local: true) do %>
  <div class="input-group mb-3">
    <input type="text" name="query" class="form-control" placeholder="Search categories status..." value="<%= params[:query] %>">
    <%= label_tag :country, 'Select Country' %>
    <%= select_tag :country, options_for_select(@countries, params[:country]), include_blank: true, class: 'form-control' %>
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Category Status</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Country</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Books</th>
        <th>Authors Actions</th>
        <th>Categories Action</th>
      </tr>
    </thead>
    <tbody>
      <% @serialized_authors.each do |serialized_author| %>
        <tr>
          <td><%= serialized_author[:category][:status] %></td>
          <td><%= serialized_author[:name] %></td>
          <td><%= serialized_author[:last_name] %></td>
          <td><%= serialized_author[:age] %></td>
          <td><%= serialized_author[:country] %></td>
          <td><%= serialized_author[:email] %></td>
          <td><%= serialized_author[:date]&.strftime("%d/%m/%Y")  %></td>
          <td>
          <% if serialized_author[:books].any? %>
          
            <ul>
              <% serialized_author[:books].each do |book| %>
                
              
                <li>
                  <strong><%= book['title']  %></strong>
                
                  
                  <% if book['id'].present? %>
                    <div>
                      <%= link_to 'Edit', edit_category_author_book_path(serialized_author[:category][:id], serialized_author[:id], book['id']), class: 'btn btn-warning btn-sm' %>
                      <%= link_to 'Delete', category_author_book_path(serialized_author[:category][:id], serialized_author[:id], book['id']), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <span>No books available</span>
          <% end %>
        </td>
          <td>
            <%= link_to 'Edit', edit_category_author_path(serialized_author[:category][:id], serialized_author[:id]), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete', category_author_path(serialized_author[:category][:id], serialized_author[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
          <td>
            <%= link_to 'Edit', edit_category_path(serialized_author[:category][:id]), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete', category_path(serialized_author[:category][:id]), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= paginate @authors %>
</div>


