<%= form_with(model: book, url: category_author_books_path(category, author) ) do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
    </div>

  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  