<h1><%= @category.status %></h1>

<p><%= @category.grade %></p>

<ul>
  <li><%= link_to "Edit", edit_category_path(@category) %></li>
  <li><%= link_to "Destroy", category_path(@category),  method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

                  <%= button_to "Destroy", category_path(@category), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>

</ul>

